@use 'consts';

%button-base {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: consts.$font-small;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

@mixin button-colors($color) {
    background-color: $color;
    color: white;
    &:hover {
        background-color: darken($color, 10%);
    }
}