$font-family-base: 'Arial', sans-serif;
$font-small: 14px;
$font-large: 30px;

$primary-color: #512DA8;
$secondary-color: #689F38;
$tertiary-color: #D32F2F;
$quaternary-color: #F57C00;

$scale-btn-color: #607D8B;

$default-size: 200px;