@use 'consts';

body {
    font-family: consts.$font-family-base;
}

%button-base {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: consts.$font-small;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}


@mixin button-colors($color) {
    background-color: $color;
    color: white;
    &:hover {
        background-color: darken($color, 10%);
    }
}

.primary-btn {
    @extend %button-base;
    @include button-colors(#512DA8);
}

.secondary-btn {
    @extend %button-base;
    @include button-colors(#689F38);
}

.tertiary-btn {
    @extend %button-base;
    @include button-colors(#D32F2F);
}

.quaternary-btn {
    @extend %button-base;
    @include button-colors(#F57C00);
}

.color-square {
    width: 100px; 
    height: 100px;
    margin-top: 20px;
    border: 2px solid black;
}